<h2 class='title-style'>Click on a post to view comments from other users!</h2>

<!-- Loop over each object in the posts array -->
{{#each posts as |post|}}
  <div
    class='bg-secondary text-white border border-style border-secondary rounded card text-center mb-4 post'
  >
    <div class='card-body'>

      <div>
        <h2>
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->

          <a class='card-title' href='/post/{{post.id}}'>{{post.title}}</a>
        </h2>
        <p class='card-subtitle'>Created by
          {{post.user.name}}
          on
          {{format_date post.date_created}}</p>
      </div>
      <div class='mb-3'>
        <p class='card-text'>
          {{post.description}}
        </p>
        {{!-- {{#each post.comments as |comment|}}
        <div>{{comment.title}}</div>
      {{/each}} --}}
      </div>
    </div>

  </div>
{{/each}}